/* VARIÁVEIS */
:root {
  --text-color: #f0f0f0;
  --background-color: #213242;
  --container-border: #e1c888;
  --container-shadow: #e1c888;
  --links-color: #262626;
  --hover-links-color: #e1c888;
  --icons-color: #e1c888;
  --hover-icons-color: #cd9a03;
}


body {
  font-family: monospace;
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 450px;
  padding: 0.625rem 0.938rem;
  box-shadow: 10px 10px 0em var(--container-shadow);
  border: 1px solid var(--container-border);
}

.header {
  display: grid;
  place-items: center;
  text-align: center;
  margin: 2rem 0;
}

.header__img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.header__title {
  width: 18ch;
  animation: typing 2s steps(18), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.header__subtitle {
  font-size: 1.5rem;
}

.header__subtitle {
  margin-bottom: 1rem;
}

.header__description {
  max-width: 350px;
}

.links {
  font-size: 0.8rem;
}

.links__menu-item-a {
  display: block;
  color: var(--links-color);
  text-align: center;
  text-decoration: underline;
  padding: 0.5rem;
}

.links a:hover {
  display: block;
  background-color: var(--hover-links-color);
  animation: mouseHover 1s;
}

ion-icon:hover {
  color: var(--hover-icons-color);
  animation: mouseHover 1s;
}

@keyframes mouseHover {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.social {
  margin: 1rem;
  font-size: 1.5rem;
}

.social__menu {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.social__menu-item {
  padding: 0.5rem;
}

.social__menu-item-a {
  color: var(--icons-color);
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 300px;
  }
}